/* Main styles that apply to entire page. */
body {
    font-size: 1.33em;
    background-color: #282828;
    color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MS-DOS style font. Credit to Adam Moore: http://laemeur.sdf.org/fonts/  */
@font-face {
    font-family: 'old-school';
    src: url('MorePerfectDOSVGA.ttf') format('truetype');
}
body, * {
    font-family: old-school;
}

/* Buttons */
button {
    border: none;
    border-radius: 4px;
    height: 1.5em;
    min-width: 2em;
    font-size: 1.0em;
    cursor: pointer;
}
button:hover {
    background-color: hsl(89, 100%, 55%);
}
button.green {
    background-color: hsl(89, 100%, 55%);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.28),
                0 1px 18px 0 rgba(0,0,0,0.12),
                0 3px 5px -1px rgba(0,0,0,0.4);
}
button.green:hover {
    background-color: hsl(89, 100%, 75%);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.25),
                0 1px 18px 0 rgba(0,0,0,0.24),
                0 3px 5px -1px rgba(0,0,0,0.4);
}

/* Inputs */
input {
    margin-top: 0;
    border-radius: 2px;
    background-image: none;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid hsl(89, 100%, 50%);
    background-color: transparent;
    color: white;
}
input::placeholder {
    color: #aaa;
}
input:focus {
    outline: none;
}
