<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contacts Manager</title>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
</head>

<body>
    <!-- Main wrapper for Vue -->
    <div id="app">
        <welcome v-if="showWelcomeScreen"
            @exit-welcome="showWelcomeScreen = false"
        ></welcome>

        <contact-list
            @no-contacts-loaded="showWelcomeScreen = true"
        ></contact-list>
    </div>
</body>

<script type="text/javascript"
    src="{{ url_for('static', filename='assets/main.js') }}"
></script>

</html>
